@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


body {
  background: url('../ui/assets/moper-bg-yellow.png') no-repeat center / cover;
}


h1 {
  font-size: xx-large;
  font-weight: bold;
}

h3 {
  color: rgb(255, 198, 0);
}

p{
  color: rgb(255, 198, 0);
}