.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  background-color: bisque;
  width: 100%;
  height: auto;
}

.description {
  color: black;
}

.project_img {
  border-radius: 50px;
  padding: 20px;
}