.card-project {
  background-color: rgb(28, 28, 26);
  margin: 10px;
  border-radius: 20px;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.title {
  color: rgb(255, 198, 0);
  font-size: x-large;
  font-weight: bold;
  font: bold;
}

.description {
  color: rgb(255, 198, 0);
  max-width: 600px; 
  white-space: normal;
}

.card-button {
  border-radius: 5px;
  background-color: rgb(255, 198, 0);
  color: rgb(28, 28, 26);
}